@font-face {
	font-family: 'chintzys';
	src: url('/static/fonts/chintzys.eot');
	src: local('☺'), url('/static/fonts/chintzys.woff') format('woff'), url('/static/fonts/chintzys.ttf') format('truetype'), url('/static/fonts/chintzys.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'digitalhand1';
    src: url('/static/fonts/Merienda-Regular.ttf');
}

@font-face {
    font-family: 'digitalhand2';
    src: url('/static/fonts/freebooterscript.ttf');
}

@font-face {
    font-family: 'digitalhand3';
    src: url('/static/fonts/Allura-Regular.otf');
}

@font-face {
    font-family: 'digitalhand4';
    src: url('/static/fonts/DancingScript-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'digitalhand5';
    src: url('/static/fonts/AncientModernTales-a7Po.ttf');
}

.digitalgaia_title {
    font-family: 'chintzys', sans-serif;
    font-size: 3.0rem;
    font-weight: 400;
    color: #555555;
2}


* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    color: #555555;
    text-decoration: none;
}

a:hover {
    color: #7c7c7c;
}

#subtext {
    font-family: digitalhand5;
    font-size: 2.5rem;
}

#footer {
    font-weight: 300;
    color: #555555;
}
