@font-face {
	font-family: 'chintzys';
	src: url('/static/fonts/chintzys.eot');
	src: local('☺'), url('/static/fonts/chintzys.woff') format('woff'), url('/static/fonts/chintzys.ttf') format('truetype'), url('/static/fonts/chintzys.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.digitalgaia_title {
    font-family: 'chintzys', sans-serif;
    font-size: 3.0rem;
    font-weight: 400;
    color: #555555;
2}


* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    color: #555555;
    text-decoration: none;
}

a:hover {
    color: #7c7c7c;
}

#footer {
    font-weight: 300;
    color: #555555;
}
